@import "variable.css";

* {
    scrollbar-width: none;
}

.cart-section {
    overflow-y: scroll;
    height: 73vh;
}

.close-svg {
    cursor: pointer;
}

button, button:focus {
    outline: none;
}

/* Search bar */
.search-bar-input {
    height: 4vh;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.search-bar-input::placeholder {
    color: var(--text-plain);
}

.search-bar-input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--input-focus);
}

/* Cart Section */
.CartSection {
    margin-left: 2vw;
    margin-right: 2vw;
    height: 70vh;
    /*border: 1px solid black;*/
}

.cart-items-text {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px var(--text-plain);
    font-family: Cairo, sans-serif;
}

.cart-add-btn {
    border: 0;
    border-radius: 5px;
    background: var(--button-bg);
    color: var(--text-light);
    font-size: 18px;
    font-family: Cairo, sans-serif;
}

.cart-add-btn:focus, .add-btn {
    outline: none;
    font-family: Cairo, sans-serif;
}

.cart-empty-text {
    font-size: 1.75em;
    color:  var(--text-grey);
    font-family: Cairo, sans-serif;
}

/* cart item table */
.item-table-header {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    -webkit-border-vertical-spacing: 2px;
}

.item-table-section {
    height: 45vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.item-table-section::-webkit-scrollbar {
    width: 0;
}

.item-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    -webkit-border-vertical-spacing: 2px;
}

td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 3px solid white ;
    border-bottom: 8px solid white;
    vertical-align: middle;
    text-align: center;
    background: #f0f0f0;
    font-weight: bold;
    font-family: Cairo, sans-serif;
}

.table-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background: #a5a5a5;
    border-bottom: 10px solid white;
    font-family: Cairo, sans-serif;
}

.th-name {
    width: 26.6%;
}

.th-qty {
    width: 26.6%;
}

.th-price {
    width: 26.6%;
}

.th-rm {
    width: 20%;
}

.td-name {
    width: 26.6%;
}

.td-qty {
    width: 26.6%;
}

.qty-btn-dec {
    border: 1px solid var(--qty-btn-border);
    background-color:  var(--qty-btn-border);
    color: #F0F0F0;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 1.313em;
    font-family: Cairo, sans-serif;
}

.qty-btn-inc {
    border: 1px solid var(--qty-btn-border);
    background-color:  var(--qty-btn-border);
    color: #F0F0F0;
    font-size: 1.313em;
    font-family: Cairo, sans-serif;
}

.td-price {
    width: 26.6%;
}

.td-rm {
    width: 20%;
}

.td-total {
    background-color: white;
}

.remove-btn {
    border: none;
    width: 25px;
    height: 20px;
    background-image: url("https://img.icons8.com/flat_round/20/000000/delete-sign.png");
    background-repeat: no-repeat;
    /*display: block;*/
}

@-moz-document url-prefix() {
    .remove-btn {
        border: none;
        width: 25px;
        height: 20px;
        background-image: url("https://img.icons8.com/flat_round/20/000000/delete-sign.png");
        background-repeat: no-repeat;
        margin-bottom: 0.4375em;
    }
}

/* Checkout button */
.checkout-btn {
    border: 0;
    border-radius: 5px;
    background: var(--button-bg);
    color: var(--text-light);
    font-size: 18px;
    font-family: Cairo, sans-serif;
}

.checkout-btn:focus, .add-btn {
    outline: none;
}

/* MDN Popup */
.popup-title {
    font-weight: bold;
    text-decoration: underline;
    color: var(--text-heading);
    font-family: Cairo, sans-serif;
}

.close-svg-section {
    cursor: pointer;
}

.popup-input {
    width: 95%;
    border: none;
    border-radius: 5px;
    height: 3em;
    background-color: var(--popup-input-bg);
    font-family: Cairo, sans-serif;
}

.popup-add-btn {
    border: 0;
    border-radius: 5px;
    background: var(--button-bg);
    color: var(--text-light);
    font-size: 18px;
    font-family: Cairo, sans-serif;
}

.popup-add-btn:focus {
    outline: none;
}
