@import "./variable.css";

.FooterSection {
    margin-left: 2vw;
    margin-right: 2vw;
}

.footer-section {
    height: 10vh;
    border: 1px solid var(--border);
}

.footer-content {
    color: var(--text-plain);
    font-size: 15px;
    font-family: Cairo;
}


