@import "variable.css";

* {
    scrollbar-width: none;
}

.Home {
    margin-left: 2vw;
    margin-right: 2vw;
}

/* Categories section */
.categories-pane {
    width: 15%;
    height: 70vh;
    border: 1px solid var(--border);
}

.cat-heading {
    color: var(--text-heading-secondary);
    font-size: 19px;
    font-family: Cairo;
    text-decoration: underline;
}

.cat-name {
    color: var(--text-plain);
    font-size: 19px;
}

.cat-text {
    font-family: Cairo;
}

/* Items section */
.items-pane {
    margin-left: 1.5%;
    width: 85%;
    height: 70vh;
    border: 1px solid var(--border);
}

.add-btn, .add-btn:focus {
    outline: none;
}

/* Items section */
.items-cluster {
    overflow-y: auto;
    scrollbar-width: thin;
}

.item-category-text {
    color: var(--text-heading);
    font-size: 20px;
    font-family: Cairo;
}

.items-list-display {
    flex-wrap: wrap;
}

.item-box {
    border: 1px solid var(--border);
    border-radius: 7px;
}

.info-svg-section {
    width: 100%;
}

.info-svg {
    cursor: pointer;
}

.item-image-section {
    width: 100px;
    text-align: center;
    line-height: 5vh;
    font-size: 15px;
    font-family: Cairo;

}

.item-image {

}

.item-title {
    font-size: 15px;
    color: var(--text-plain);
    font-family: Cairo;

}

.price-add-section{
    width: 100%;
}

.price-text{
    font-size: 13.5px;
    color: var(--text-plain);
    width: 5.063em;
    font-family: Cairo-Bold;
}

.add-btn {
    border: 0px;
    background: var(--button-bg);
    border-radius: 5px;
    color: var(--text-light);
    font-size: 13.5px;
    font-family: Cairo;
}

/* Popup section */
.close-svg-section {
    width: 100%;
}

.popup-details-section {
    width: 100%;
}

.popup-item-title {
    width: 100%;
    word-break: break-all;
    font-size: 1.75em;
    font-weight: 500;
    font-family: Cairo;
}

.popup-item-desc {
    width: 100%;
    word-break: break-all;
    font-size: 1em;
    font-family: Cairo;
}

.popup-price-add-section {
    width: 100%;
}

.item-price {
    font-size: 1.313em;
    font-weight: 600;
    font-family: Cairo;
}

.popup-add-btn {
    font-family: Cairo;
}

/* carousel arrows color */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}

/* If not category is checked */
.home-empty-text {
    font-size: 1.75em;
    font-family: Cairo;
    color:  var(--text-grey);
}

/* In case the search result is empty */
.search-info {
    font-size: 1.75em;
    font-family: Cairo;
    color:  var(--text-grey);
}

/* Search bar */
.search-bar-input {
    font-family: Cairo;
}

/* Checkbox */
.check-box {
    font-family: Cairo;
}