/* Variable.css contains all the variables with values for the application */
:root{
    --button-bg: red;
    --border: rgb(206, 206, 206);
    --text-heading: black;
    --text-heading-secondary: rgb(255, 196, 0);
    --text-plain: black;
    --text-light: white;
    --text-grey: grey;
    --input-focus: rgb(255, 196, 0);
    --button-border: rgb(255, 196, 0);
    --button-text: rgb(255, 196, 0);
    --nav-link-inactive: black;
    --nav-link-active: rgb(255, 196, 0);
    --popup-input-bg: rgb(246, 246, 246);
    --qty-btn-border: #A5A5A5;
}

/* Fonts */
/* Cario-Regular font */
@font-face {
    font-family: 'Cairo';
    src: local('Cairo'), url(../fonts/Cairo/Cairo-Regular.ttf) format('opentype');
}

/* Cairo-Bold font */
@font-face {
    font-family: 'Cairo-Bold';
    src: local('Cairo-Bold'), url(../fonts/Cairo/Cairo-Bold.ttf) format('opentype');
}
