@import "./variable.css";

/* Nav bar */
.header-nav {
  margin-top: 2vh;  
  margin-bottom: 3vh;  
  margin-left: 2vw;
  margin-right: 2vw;
}

.logo-section {
  width: 15%;
  height: 10vh;
  border: 1px solid var(--border);
}

.logo-text {
  margin-left: 4%; 
  color: var(--text-heading);
  font-size: 20px;
}

.nav-bar {
  margin-left: 1.5%;
  width: 85%;
  height: 10vh;
  border: 1px solid var(--border);
}

.nav-text-home, .nav-text-cart {
  font-size: 20px;
  color: var(--text-plain);
  text-decoration: underline;
  cursor: pointer;
}

.nav-link {
  font-size: 20px;
  color: var(--nav-link-inactive);
  text-decoration: underline;
  text-decoration-color: var(--nav-link-inactive);
  cursor: pointer;
}

.nav-link:hover {
  font-size: 20px;
  color: var(--nav-link-inactive);
  text-decoration: underline;
  text-decoration-color: var(--nav-link-inactive);
  cursor: pointer;
}

.nav-link:visited {
  font-size: 20px;
  color: var(--nav-link-inactive);
  text-decoration: underline;
  text-decoration-color: var(--nav-link-inactive);
  cursor: pointer;
}

.nav-link-active {
  font-size: 20px;
  color: var(--nav-link-active);
  text-decoration: underline;
  text-decoration-color: var(--nav-link-active);
  cursor: pointer;
}

.nav-link-active:hover {
  font-size: 20px;
  color: var(--nav-link-active);
  text-decoration: underline;
  text-decoration-color: var(--nav-link-active);
  cursor: pointer;
}

.nav-link-active:visited {
  font-size: 20px;
  color: var(--nav-link-active);
  text-decoration: underline;
  text-decoration-color: var(--nav-link-active);
  cursor: pointer;
}


/* Home Content */
.Home {
  margin-left: 2vw;
  margin-right: 2vw;
}

.categories-pane {
  width: 15%;
  height: 70vh;
  border: 1px solid var(--border);
}

.cat-heading {
  color: var(--text-heading);
  font-size: 19px;
  text-decoration: underline;
}

.cat-name {
  color: var(--text-plain);
  font-size: 19px;
  
}

.items-pane {
  margin-left: 1.5%;
  width: 85%;
  height: 70vh;
  border: 1px solid var(--border);
}

/* Search bar */
.search-bar-input {
  height: 4vh;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.search-bar-input::placeholder {
  color: var(--text-plain);
}

.search-bar-input:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--input-focus);
}

/* Items section */
.items-cluster {
  overflow-y: auto;
  scrollbar-width: thin;
}

.item-category-text {
  color: var(--text-heading);
  font-size: 20px;
} 

.items-list-display {
  flex-wrap: wrap;
}

.item-box {
  border: 1px solid var(--border);
  border-radius: 7px;  
}
.item-image {
  width: 100px;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  background: rgb(221, 221, 221);
  font-size: 15px;
}

.item-title {
  font-size: 15px;
  color: var(--text-plain);
}

.price-add-section{
  width: 100%;
}

.price-text{
  font-size: 13.5px;
  color: var(--text-plain);
}

.add-btn {
  border: 0px;
  background: var(--button-bg);
  border-radius: 5px;
  color: var(--text-light);
  font-size: 13.5px;
}

/* Cart Section */
.CartSection {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 70vh;
  /*border: 1px solid black;*/
}

.cart-items-text {
  font-size: 18px var(--text-plain);
  text-decoration: underline;
  font-weight: bold;
}

.cart-add-btn {
  border: 0px;
  border-radius: 5px;
  background: var(--button-bg);
  color: var(--text-light);
  font-size: 18px;
}

.cart-add-btn:focus, .add-btn{
  outline: none;
}

.cart-empty-text{
  font-size: 18px;
  color: var(--text-heading);
}

/* cart item table */
.item-table-header {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  -webkit-border-vertical-spacing: 2px;
}

.item-table-section {
  height: 45vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.item-table-section::-webkit-scrollbar {
  width: 0px;
}

.item-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  -webkit-border-vertical-spacing: 2px;
}

td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 3px solid white ;
  border-bottom: 8px solid white;
  text-align: center;
  background: #f0f0f0;
  font-weight: bold;
}

.table-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background: #a5a5a5;
  border-bottom: 10px solid white;
}

.th-name {
  width: 26.6%;
}
.th-qty {
  width: 26.6%;
}
.th-price {
  width: 26.6%;
}
.th-rm {
  width: 20%;
}

.td-name {
  width: 26.6%;
}
.td-qty {
  width: 26.6%;
}
.td-price {
  width: 26.6%;
}
.td-rm {
  width: 20%;
}

.td-total{
  background-color: white;
}

.remove-btn {
  border: none;
  width: 25px;
  height: 20px;
  background-image: url("https://img.icons8.com/flat_round/20/000000/delete-sign.png");
  background-repeat: no-repeat;
}

/* Checkout button */
.checkout-btn {
  border: 0px;
  border-radius: 5px;
  background: var(--button-bg);
  color: var(--text-light);
  font-size: 18px;
}

.checkout-btn:focus, .add-btn{
  outline: none;
}


/* Footer section */
.FooterSection {
  margin-left: 2vw;
  margin-right: 2vw;
}

.footer-section {
  height: 10vh;
  border: 1px solid var(--border);
}

.footer-content {
  font-size: 15px;
  color: var(--text-plain);

}

