@import "./variable.css";

/* Nav bar */
.header-nav {
  margin-top: 2vh;  
  margin-bottom: 3vh;  
  margin-left: 2vw;
  margin-right: 2vw;
}

.logo-section {
  width: 15%;
  height: 10vh;
  border: 1px solid var(--border);
}

.logo-text {
  margin-left: 4%; 
  color: var(--text-heading);
  font-size: 20px;
}

.nav-bar {
  margin-left: 1.5%;
  width: 85%;
  height: 10vh;
  border: 1px solid var(--border);
}

.nav-text-home, .nav-text-cart {
  color: var(--text-plain);
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

/* Home Content */
.Home {
  margin-left: 2vw;
  margin-right: 2vw;
}

.categories-pane{
  width: 15%;
  height: 70vh;
  border: 1px solid var(--border);
}

.cat-heading {
  color: var(--text-heading);
  font-size: 19px;
  text-decoration: underline;
}

.cat-name {
  color: var(--text-plain);
  font-size: 19px;
  
}

.items-pane{
  margin-left: 1.5%;
  width: 85%;
  height: 70vh;
  border: 1px solid var(--border);
}

/* Search bar */
.search-bar-input{
  height: 4vh;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.search-bar-input::placeholder{
  color: var(--text-plain);
}

.search-bar-input:focus{
  outline: none;
  box-shadow: 0px 0px 5px var(--input-focus);
}

/* Items section */
.items-cluster{
  overflow-y: auto;
  scrollbar-width: thin;
}

.item-category-text{
  color: var(--text-heading);
  font-size: 20px;
} 

.items-list-display{
  flex-wrap: wrap;
}

.item-box{
  border: 1px solid var(--border);
  border-radius: 7px;  
}
.item-image{
  width: 100px;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  background: rgb(221, 221, 221);
  font-size: 15px;
}

.item-title{
  font-size: 15px;
  color: var(--text-plain);
}

.price-add-section{
  width: 100%;
}

.price-text{
  font-size: 13.5px;
  color: var(--text-plain);
}

.add-btn{
  border: 0px;
  background: var(--button-bg);
  border-radius: 5px;
  color: var(--text-light);
  font-size: 13.5px;
}

/* Cart Section */
.CartSection {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 70vh;
  border: 1px solid black;
}

.cart-items-text {
  font-size: 18px var(--text-plain);
  text-decoration: underline;
  font-weight: bold;
}

.cart-add-btn {
  border: 0px;
  border-radius: 5px;
  background: var(--button-bg);
  color: var(--text-light);
  font-size: 18px;
}

.cart-add-btn:focus, .add-btn{
  outline: none;
}

  /* Footer section */
.FooterSection{
  margin-left: 2vw;
  margin-right: 2vw;
}

.footer-section{
  height: 10vh;
  border: 1px solid var(--border);
}

.footer-content{
  font-size: 15px;
  color: var(--text-plain);

}
