@import "./variable.css";

.Home {
    margin-left: 2vw;
    margin-right: 2vw;
}

.categories-pane {
    width: 15%;
    height: 70vh;
    border: 1px solid var(--border);
}

.cat-heading {
    color: var(--text-heading);
    font-size: 19px;
    text-decoration: underline;
}

.cat-name {
    color: var(--text-plain);
    font-size: 19px;

}

.items-pane {
    margin-left: 1.5%;
    width: 85%;
    height: 70vh;
    border: 1px solid var(--border);
}

.add-btn, .add-btn:focus {
    outline: none;
}

/* Items section */
.items-cluster {
    overflow-y: auto;
    scrollbar-width: thin;
}

.item-category-text {
    color: var(--text-heading);
    font-size: 20px;
}

.items-list-display {
    flex-wrap: wrap;
}

.item-box {
    border: 1px solid var(--border);
    border-radius: 7px;
}
.item-image {
    width: 100px;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    background: rgb(221, 221, 221);
    font-size: 15px;
}

.item-title {
    font-size: 15px;
    color: var(--text-plain);
}

.price-add-section{
    width: 100%;
}

.price-text{
    font-size: 13.5px;
    color: var(--text-plain);
    width: 5.063em;
}

.add-btn {
    border: 0px;
    background: var(--button-bg);
    border-radius: 5px;
    color: var(--text-light);
    font-size: 13.5px;
}
