:root{
    --button-bg: red;
    --border: rgb(206, 206, 206);
    --text-heading: black; 
    --text-plain: black;
    --text-light: white;
    --text-grey: grey;
    --input-focus: rgb(255, 196, 0);
    --nav-link-inactive: black;
    --nav-link-active: rgb(255, 196, 0);
    --popup-input-bg: rgb(246, 246, 246);
}
